<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleafe.org">
<head>
    <meta charset="UTF-8">
    <title>Administrar Vacaciones</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <h1>Adminitración de Vacaciones</h1>
    <hr>
    <h2>Nueva Vacación</h2>

    <form action="#" th:action="@{/guardarVacacion}" th:object="${vacacion}" method="post">

        <input type="date" th:field="*{fechaInicio}" class="form-control mb-4 col-4" id="fecha_inicio" placeholder="Fecha Inicio" name="fecha_inicio"/>
        <input type="date" th:field="*{fechaFin}" class="form-control mb-4 col-4" id="fecha_fin" placeholder="Fecha Fin" name="fecha_fin"/>
        <input type="text" th:field="*{estado}" class="form-control mb-4 col-4" id="estado" placeholder="Estado" name="estado"/>
        <button type="submit" class="btn btn-info col-2">Guardar</button>

    </form>

</div>

</body>
</html>